*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans Condensed';
  padding: 20px 40px;
  max-width: 1260px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}
